body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612867432_90-p-krasivii-novogodnii-fon-krasnii-123.jpg');
    background-size: cover;
    background-position: center;
}

.butt {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.butt:hover {
    background-color: #45a049;
}
